*{
    margin: 0;
}

.navbar{
    font-family: 'Kavoon';
    display: flex;
    justify-content: space-between;
    border-bottom: solid rgb(117, 244, 255);
    padding: .5rem;
    background-image: linear-gradient(rgb(112, 67, 144),rgb(190, 112, 246));
}

#highlight{
    color: rgb(117, 244, 255);
    font-style: italic;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    background-image: url("./Smart-goal.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    height: 40rem;
    padding: 0.5rem;
}

.servContainer{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding: 0.5rem;
    background-image: linear-gradient(rgb(190, 112, 246),rgba(112, 67, 144, 0));
}

.servItem1,.servItem2{
    padding: 0.5rem;
}

.item1Header{
    display: flex;
    justify-content: center;
    font-family: 'Kavoon';
    font-size: 2rem;
}

.smartContainer{
    display: flex;
    justify-content: space-between;
    height: 15rem;
}

.smart{
    gap: 4rem;
    background: rgb(231, 203, 252);
    border: solid rgb(190, 112, 246) 2px;
    border-radius: 0.8rem;
    padding: 0.5rem;
    height: 1.5rem;
    width: 8rem;
    overflow: hidden;
    transition: height 0.5s;
}

.smart:hover{
    height: 12rem;
}

.smartItem1,.smartItem2{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

.smartLetter{
    font-weight: bold;
}

.userMainContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 30rem;
    background: rgba(190, 112, 246, 0.881);
    border-radius: 1rem;
}

.userInput{
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    overflow: hidden;
}

.usergoals{
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: solid black 1px;
    height: 20rem;
    overflow: hidden;
}

.goalItem{
    border: solid black 1px;
}